:root {
    --main-color:#FFFFFF;
    --secondary-main-color:#2F303A;
    --logo-color-1:#2196F3;
    --logo-color-2:#000000;
    --logo-color-2-footer:#FFFFFF;
    --title-color:#212121;
    --text-color:#757575;
    --background-color-white: #F5F4FA;
    --border: #ECECEC;
}


/*Стилі верхня лінія*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.top-line {
    width: 1600px;
    display: flex;
    border-bottom: var(--border);
    


}

body {
    font-family: 'Roboto',sans-serif;
    color:var(--main-color);
    
    letter-spacing: 0.03em;
}


a {
    text-decoration: none;

}

.logo-top-line {
    padding-left: 215px;
    
    padding-top: 24px;
    padding-bottom: 25px;


}

.logo-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.navigation {
    display: flex;
    align-items: center;

    padding-top: 32px;
        padding-bottom: 32px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.studio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color:var(--title-color);;

    margin-left: 93px;
    margin-right: 50px;
    padding-top: 32px;
        padding-bottom: 32px;
}

.studio-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}

.portfolio-link:current {
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.contacts-link:current {
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.studio-link:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.portfolio-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color:var(--title-color);

    margin-right: 50px;
    padding-top: 32px;
        padding-bottom: 32px;
}

.portfolio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);


}

.contacts-link {

   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--title-color);

    margin-right: 344px;
    padding-top: 32px;
        padding-bottom: 32px;
}

.contacts-link:hover {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}

.contact-info {
    list-style: none;
    display: flex;
    
    
    
}

.email {

   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-color);

    
    margin-right: 50px;
    padding-top: 32px;
        padding-bottom: 32px;

}

.email:hover {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

    
}

.phone {
    cursor: pointer;
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-color);

    margin-right: 215px;
    padding-top: 32px;
        padding-bottom: 32px;

    
}

.phone:hover {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}

.contacts-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.portfolio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.studio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}


/*Стилі Роботи*/



.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

}

/*Кнопки фільтра*/

.filter-list {
    list-style-type: none;

    display: flex;
    
}



.filter-button1 {
    width: 125px;
    height: 38px;
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);;

    margin-left: 512px;
        margin-right: 8px;
        
}

.filter-button1:hover {
        cursor: pointer;
        width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

}

.filter-button1:focus {
    width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

}

.filter-button2 {
    width: 125px;
    height: 38px;
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    
    margin-right: 8px;
    
}

.filter-button2:hover {
    cursor: pointer;
    width: 125px;
    height: 38px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);

}

.filter-button2:focus {
    width: 125px;
    height: 38px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);

}

.filter-button3 {
    width: 125px;
    height: 38px;
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);

    margin-right: 8px;
    
}

.filter-button3:hover {
        cursor: pointer;
        width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

}

.filter-button3:focus {
    width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

}

.filter-button4 {
    width: 125px;
    height: 38px;
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);

    margin-right: 8px;
}

.filter-button4:hover {
        cursor: pointer;
        width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

}

.filter-button4:focus {
    width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

}

.filter-button5 {
    width: 125px;
    height: 38px;
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    
    margin-right: 513px;
}

.filter-button5:hover {
    cursor: pointer;
    width: 125px;
    height: 38px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);

}

.filter-button5:focus {
    width: 125px;
    height: 38px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);

}

/*Список робіт*/

.samples {
    width: 1170px;
}

.samples-list {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.sample {
    flex-basis: calc((1170px-60px)/3);

}

.sample-title {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-color);;
}



.sample-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

 /*Стилі Підвал*/

 .basement {
     width: 1600px;
     height: 252px;
     background-color: var(--secondary-main-color);
 }

 .logo-footer {
    margin-left: 215px;
    padding-top: 60px;
    margin-bottom: 20px;
 }

 .logof-el-1 {
     color:var(--logo-color-1);
     font-family: 'Raleway',sans-serif;
    
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;

 }

 .logof-el-2 {
     color: var(--logo-color-2-footer);
     font-family: 'Raleway',sans-serif;
    
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;

 }

 .address-list {
     list-style-type: none;
 }

 .address-info {
    font-style: 'Roboto', sans-serif;
     font-style: normal; 
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color: var(--logo-color-2-footer);

     margin-left: 215px;
 }

 .address-contact-info {
    font-style: 'Roboto', sans-serif;
    font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);

     margin-left: 215px;
 }

 .address-info:hover {
    font-style: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color:var(--logo-color-1);

 }

 .address-contact-info:hover {
    cursor: pointer;
    font-style: 'Roboto',sans-serif;
    font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color:var(--logo-color-1);

 }

 .address-contact-info:focus {
        font-style: 'Roboto', sans-serif;
        font-style: normal;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color:var(--logo-color-1);
 }