:root {
    --main-color:#FFFFFF;
    --secondary-main-color:#2F303A;
    --logo-color-1:#2196F3;
    --logo-color-2:#000000;
    --logo-color-2-footer:#FFFFFF;
    --title-color:#212121;
    --text-color:#757575;
}


/*Стилі верхня лінія*/

.top-line {
    width: 1600px;


}

body {
    font-family: 'Roboto',sans-serif;
    color:var(--main-color);
    
    letter-spacing: 0.03em;
}


a {
    text-decoration: none;

}

.logo-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.nav-menu {
    list-style-type: none;
}

.studio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color:var(--title-color);;
}

.studio-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}

.portfolio-link:current {
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.contacts-link:current {
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.studio-link:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.portfolio-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color:var(--title-color);;
}

.portfolio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);


}

.contacts-link {

   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--title-color);;
}

.contacts-link:hover {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}

.contact-info {
    list-style: none;
}

.email {

   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.email:hover {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.phone {
    cursor: pointer;
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.phone:hover {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}

.contacts-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.portfolio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.studio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);

}


/*Стилі Роботи*/



.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

}

/*Кнопки фільтра*/

.filter-list {
    list-style-type: none;
}



.filter-button {
    width: 125px;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);;
}

.filter-button:hover {
        cursor: pointer;
        width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: #ffffff;

}

.filter-button:focus {
    width: 125px;
        height: 38px;
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: #ffffff;

}

/*Список робіт*/

.samples-list {
    list-style-type: none;
}

.sample {
    width: 370px;
    height: 404px;

}

.sample-title {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-color);;
}



.sample-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

 /*Стилі Підвал*/

 .basement {
     width: 1600px;
     height: 252px;
     background-color: var(--secondary-main-color);
 }

 .logof-el-1 {
     color:var(--logo-color-1);
     font-family: 'Raleway',sans-serif;
    
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;

 }

 .logof-el-2 {
     color: #FFFFFF;
     font-family: 'Raleway',sans-serif;
    
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;

 }

 .address-list {
     list-style-type: none;
 }

 .address-info {
    font-style: 'Roboto', sans-serif;
     font-style: normal; 
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color: #FFFFFF;
 }

 .address-contact-info {
    font-style: 'Roboto', sans-serif;
    font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
 }

 .address-info:hover {
    font-style: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color:var(--logo-color-1);

 }

 .address-contact-info:hover {
    cursor: pointer;
    font-style: 'Roboto',sans-serif;
    font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color:var(--logo-color-1);

 }

 .address-contact-info:focus {
        font-style: 'Roboto', sans-serif;
        font-style: normal;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color:var(--logo-color-1);
 }