:root {
    --main-color:#FFFFFF;
    --secondary-main-color:#2F303A;
    --logo-color-1:#2196F3;
    --logo-color-2:#000000;
    --button-color-2: #188CE8;
    --logo-color-2-footer:#FFFFFF;
    --title-color:#212121;
    --text-color:#757575;
    --background-color-white: #F5F4FA;
    --border: #ECECEC;
    --border-header:#EEEEEE;
    --timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    letter-spacing: 0.03em;



}

img {
    display: block;
    max-width: 100%;
    height: auto;
}




/*Стилі верхня лінія*/







.top-line {
    border-bottom: 1px solid var(--border-header);
}


ul {
    padding: 0px;
    margin: 0px;
}

.container-header {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    
    
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

}


a {
    text-decoration: none;

}

.logo-top-line {
    
    margin-right: 95px;
    padding-top: 24px;
    padding-bottom: 25px;


}

.logo-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    display: flex;




}

.studio-item {
    margin-right: 50px;
    display: inline-block;
}


.studio-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    transition: color var(--timing);
}

.studio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.studio-link:hover {
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
}

.portfolio-item {
    margin-right: 50px;
    display: inline-block;
}

.portfolio-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    transition: color var(--timing);
}

.portfolio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
}

.portfolio-link:hover {
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);


}

.contacts-item {
    display: inline-block;
}

.contacts-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    transition: color var(--timing);

}

.contacts-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
}

.contacts-link:hover {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}



.portfolio-link,.current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
}

.current::after {
    content: '';
    display: block;
    width: 78px;
    height: 4px;
    background-color: var(--logo-color-1);
    position: absolute;
    opacity: 1;
    border-radius: 2px;
    margin-top: 28px;
    top: 76;
    left: 451;

}



.contact-info {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 50px;

}

.icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    
}

.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    
}

.email:hover,
.email:focus .icon-envelope {
    fill: var(--logo-color-1);
}

.phone:hover,
.phone:focus .icon-phone {
    fill: var(--logo-color-1);
}



.email {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    fill: var(--text-color);
    transition: fill var(--timing),color var(--timing);

}

.email:focus {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    fill: var(--logo-color-1);
}

.email:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    fill: var(--logo-color-1);
}



.phone {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);

    
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    fill: var(--text-color);
    transition: fill var(--timing),color var(--timing);
}

.phone:focus {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
}

.phone:hover {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

/*Стилі Роботи*/

.portfolio-content {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
}



.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

}

/*Кнопки фільтра*/

.filter-list {
    list-style: none;

    display: flex;

    
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
    
    
    gap: 8px;
    
}



.filter-button1 {
    
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);;
    padding: 8px 22px;
    transition: background-color var(--timing),box-shadow var(--timing),color var(--timing);
    
        
}

.filter-button1:hover {
        cursor: pointer;
        
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

        padding: 8px 22px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button1:focus {
            background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button2 {
    
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    
    margin-right: 8px;
    padding: 8px 22px;
        transition: background-color var(--timing), box-shadow var(--timing), color var(--timing);
    
}

.filter-button2:hover {
    cursor: pointer;
    
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);

    padding: 8px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button2:focus {
   
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button3 {
    
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);

    margin-right: 8px;
    padding: 8px 22px;
        transition: background-color var(--timing), box-shadow var(--timing), color var(--timing);

    
}

.filter-button3:hover {
        cursor: pointer;
        
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

        padding: 8px 22px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button3:focus {
    
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button4 {
    
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);

    margin-right: 8px;
    padding: 8px 22px;
        transition: background-color var(--timing), box-shadow var(--timing), color var(--timing);
}

.filter-button4:hover {
        cursor: pointer;
        
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);

        padding: 8px 22px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button4:focus {
    
        background-color:var(--logo-color-1);
        border-radius: 4px;
        border: none;
        text-align: center;
        font-family: inherit;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--logo-color-2-footer);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button5 {
    
    background-color: var(--background-color-white);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    padding: 8px 22px;
        transition: background-color var(--timing), box-shadow var(--timing), color var(--timing);
    
    
}

.filter-button5:hover {
    cursor: pointer;
    
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);

    padding: 8px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filter-button5:focus {
    
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-color-2-footer);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

/*Список робіт*/

.overlay{
    position: absolute;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color:var(--main-color);
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    margin-top: 0px;
    transition: transform 250ms linear;
    
}

.sample-link:hover .overlay,.sample-link:focus .overlay{
    transform: translateY(0%);
    
}

.sample-list-img-wrapper{
    position: relative;
    overflow: hidden;
}

.sample-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: var(--timing);
}

.sample-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: var(--timing);
}



.samples-list {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}

.sample {
    flex-basis: calc((1170px-60px)/3);
    border: 1em;

}

.sample-text {
    padding:20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.sample-title {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-color);
    margin-top: 0px;
    margin-bottom: 4px;
}



.sample-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0px;
}

 /*Стилі Підвал*/

 .basement {

     background-color: var(--secondary-main-color);

     display: flex;
     flex-direction: column;

     padding-top: 60px;
     padding-bottom: 60px;


 }

 .footer-container {
     padding-left: 215px;

 }

 .logo-footer {


     display: inline-block;
     margin-bottom: 20px;

 }

 .logof-el-1 {
     color: var(--logo-color-1);
     font-family: 'Raleway', sans-serif;

     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;


 }

 .logof-el-2 {
     color: var(--logo-color-2-footer);
     font-family: 'Raleway', sans-serif;

     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;


 }



 .address-list {
     list-style-type: none;

 }

 .address {
     margin-bottom: 9px;
 }

 .email-footer {
     margin-bottom: 9px;
 }

 .address-info {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;

     color: var(--logo-color-2-footer);

     margin-bottom: 9px;
     transition: color var(--timing);
 }

 .address-contact-info {
     font-style: normal;

     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;

     color: rgba(255, 255, 255, 0.6);
     transition: color var(--timing);



 }

 .address-info:hover {
     cursor: pointer;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     color: var(--logo-color-1);

 }

 .address-contact-info:hover {
     cursor: pointer;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     color: var(--logo-color-1);

 }

 .address-contact-info:focus {

     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     color: var(--logo-color-1);
 }

 .footer-social-links {
     width: 206px;


     margin-left: 70px;

 }

 .fsl-title {
     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #FFFFFF;
     margin-top: 0px;
     margin-bottom: 20px;
 }

 .social-list-footer {
     list-style-type: none;
     display: flex;
     justify-content: center;
     column-gap: 10px;
 }

 .social-list-icon-footer {
     fill: #FFFFFF;
     width: 20px;
     height: 20px;
     justify-content: center;
 }

 .social-list-link-footer {
     width: 44px;
     height: 44px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
     transition: fill var(--timing),background-color var(--timing);
 }

 .social-list-link-footer:hover,
 .social-list-link-footer:focus {
     background-color: var(--logo-color-1);
 }

 .footer-box {
     display: flex;
     align-items: baseline;


 }

 .sub-form {
     margin-left: 93px;
 }

 .input-button {
     display: flex;

 }



 .sub-quote {
     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.03em;
     text-transform: uppercase;

     color: var(--main-color);
     margin-bottom: 20px;
     margin-top: 0px;

 }

 .modal-form-sub-input {
     width: 348px;
     height: 50px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 16px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     background-color: transparent;
     outline: none;
     
 }

 .sub-input-wrapper{
    margin-right: 12px;
 }

 .modal-form-sub-submit {
    cursor:pointer;
     width: 200px;
     height: 50px;
     background: #2196F3;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: none;
     font-weight: 700;
     font-size: 16px;
     line-height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     letter-spacing: 0.06em;

     color: var(--main-color);
     transition: background-color var(--timing);

 }

 .sub-icon {

     width: 24px;
     height: 24px;
     margin-left: 10px;

 }

 .modal-form-sub-submit:hover,
 .modal-form-sub-submit:focus {
    background-color: var(--button-color-2);
 }