.logo-top-line {

    margin-right: 95px;
    padding-top: 24px;
    padding-bottom: 25px;


}

.logo-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-footer {

    display: inline-block;
    margin-bottom: 20px;

}

.logof-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;


}

.logof-el-2 {
    color: var(--logo-color-2-footer);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;


}