:root {

    --main-color: #FFFFFF;
    --secondary-main-color: #2F303A;
    --logo-color-1: #2196F3;
    --logo-color-2: #000000;
    --logo-color-2-footer: #FFFFFF;
    --title-color:#212121;
    --text-color: #757575;
}


/*Стилі верхня лінія*/

.top-line{
    width: 1600px;
    
    
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: var(--main-color);
    letter-spacing: 0.03;
}


a {
    text-decoration: none;
    
}

.logo-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.nav-menu {
    list-style-type: none;
}

.studio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--title-color);;
}

.studio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.studio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
}

.portfolio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--title-color);
}

.portfolio-link:focus {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
}

.portfolio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

 
}

.contacts-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.contacts-link:focus {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
}

.contacts-link:hover {
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.studio-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    background-color: var(--logo-color-1);

}

.portfolio-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    background-color: var(--logo-color-1);
}

.contacts-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    background-color: var(--logo-color-1);
}

.contact-info {
    list-style: none;
}

.email {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.email:focus {
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);

}

.email:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:#2196F3;
}

.phone {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.phone:focus{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
}

.phone:hover {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

/*Стилі Шапка*/

.quote-section {
    background-color: var(--secondary-main-color);
    width: 1600px;
    height: 600px;
}

.quote {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
}

.order-button {
    font-family: inherit;
    width: 21.1;
    height: 50px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;
}

.order-button:hover {
    font-family:inherit;
    cursor: pointer;
    width: 21.1;
    height: 50px;
    background-color: #188CE8;
    border-radius: 4px;
    border: none;
    text-align: center;

}

.order-button:focus {
    font-family: inherit;
    width: 21.1;
        height: 50px;
        background-color: #188CE8;
        border-radius: 4px;
        border: none;
        text-align: center;

}

.make-an-order {
    font-family: inherit;
    
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;        
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

/*Особливості*/

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    list-style-type: none;
}

.f-name {
    
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--title-color);
}

.f-descr {
    
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

/*Стилі Чим им займаємося*/

.occup-title {
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--title-color);
}

.occupation-list {
    list-style-type: none;
}

/*Стилі Наша команда*/

.team {
    width: 1600px;
    
    background: #F5F4FA;
}

.team-list {
    list-style-type: none;
}

.member1 {
    width: 270px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member2 {
    width: 270px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member3 {
    width: 270px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member4 {
    width: 270px;
    background: var(--logo-color-2-footer);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.our-team-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--title-color);
}
 .member-name{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--title-color);

 }

 .member-descr{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: var(--text-color);

 }

 /*Стилі Підвал*/

 .basement {
    width: 1600px;
    height: 252px;
    background-color: var(--secondary-main-color);
 }

 .logof-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    

 }

 .logof-el-2 {
    color: var(--logo-color-2-footer);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    

 }

 .address-list {
    list-style-type: none;
 }

 .address-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: var(--logo-color-2-footer);
 }

 .address-contact-info {
    font-style: normal;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: rgba(255, 255, 255, 0.6);
 }

 .address-info:hover {
    cursor: pointer;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color:var(--logo-color-1) ;

 }

 .address-contact-info:hover {
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: var(--logo-color-1);

 }

 .address-contact-info:focus {

    font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: var(--logo-color-1)
 }




