:root {

    --main-color: #FFFFFF;
    --secondary-main-color: #2F303A;
    --logo-color-1: #2196F3;
    --logo-color-2: #000000;
    --logo-color-2-footer: #FFFFFF;
    --title-color:#212121;
    --text-color: #757575;
    --button-color-2:#188CE8;
    --background-color-white:#F5F4FA;
    --border: #ECECEC;
    --social:#AFB1B8;
    --timing:250ms cubic-bezier(0.4, 0, 0.2, 1);
}



img {
    display: block;
        max-width: 100%;
        height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    letter-spacing: 0.03em;
     
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

}


/*Стилі верхня лінія*/

ul {padding: 0px;
    margin: 0px;}

.container-header {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width:1200px;
}

.top-line {
    border-bottom: 1px solid var(--border-header);
}


a {
    text-decoration: none;
    
}

.logo-top-line {
    
    margin-right: 95px;
    padding-top: 24px;
    padding-bottom: 25px;
    
    
}

.logo-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    
    
    
    
}

.studio-item{margin-right: 50px;
             display: inline-block;} 


.studio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-top: 32px;
    padding-bottom:32px ;
    display: inline-block;
}

.studio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    transition: var(--timing);

}

.studio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    transition: var(--timing);
}

.portfolio-item{margin-right: 50px;
                display: inline-block;}

.portfolio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
}

.portfolio-link:focus {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
        transition: var(--timing);
}

.portfolio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    transition: var(--timing);

 
}

.contacts-item{display: inline-block;}

.contacts-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;

}





.contacts-link:focus {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
        transition: var(--timing);
}

.contacts-link:hover {
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    transition: var(--timing);

}

.studio-link,.current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.current::after{
    content: '';
        display: block;
        width: 48px;
        height: 4px;
        background-color: var(--logo-color-1);
        position: absolute;
        opacity: 1;
        border-radius: 2px;
        margin-top: 28px;
        top: 76;
        left: 451;

}





.contact-info {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 50px;
    
  
}



.email {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    fill: var(--text-color)

    
}

.icon-envelope{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    ;
}

.icon-phone{
    width: 10px;
    height: 16px;
margin-right: 10px;
}

.email:hover,.email:focus .icon-envelope{
    fill: var(--logo-color-1);
    transition: var(--timing);
}

.phone:hover,.phone:focus .icon-phone{
    fill: var(--logo-color-1);
    transition: var(--timing);
}




.email:focus {
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
        fill: var(--logo-color-1);
        transition: var(--timing);

}

.email:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
    fill: var(--logo-color-1);
    transition: var(--timing);

}




.phone {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);

    
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    fill: var(--text-color)
}

.phone:focus{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
        fill: var(--logo-color-1);
        transition: var(--timing);
}

.phone:hover {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    fill: var(--logo-color-1);
    transition: var(--timing);

}

/*Стилі Шапка*/

.quote-section {
    background-color: var(--secondary-main-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
    

    display: flex;
    flex-direction:column ;
    align-items: center;

    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    margin: auto;

    

    

}

.quote {
    width: 696px;
    height: 120px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;

    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.order-button {
    font-family: inherit;
    width: 216px;
    height: 50px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;

    margin-left: auto;
    margin-right:auto ;
    display: block;
    
   

    
}

.order-button:hover {
    font-family:inherit;
    cursor: pointer;
    width: 216px;
    height: 50px;
    background-color: var(--button-color-2);
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: var(--timing);

    

}

.order-button:focus {
    font-family: inherit;
    width: 21.1;
        height: 50px;
        background-color: var(--button-color-2);
        border-radius: 4px;
        border: none;
        text-align: center;
        transition: var(--timing);

}

.make-an-order {
    font-family: inherit;
    
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;        
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

/*Особливості*/

.f-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.f-icon{
    width: 70px;
    height: 70px;
    
    
}

.work-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    list-style-type: none;
    display: flex;
   
}

.features-container{
                    
                    padding-left: 215px;
                    padding-right:215px ;}

.feature1 {
    width: 270px;

    
    
   
    
}

.feature2 {
    width: 270px;

    margin-left: 30px;
    
}

.feature3 {
    width: 270px;

    margin-left: 30px;
    
}

.feature4 {
    width: 270px;

    
    
    margin-left: 30px;
   
}


.f-name {
    
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    text-transform: uppercase;
    color: var(--title-color);

    margin-top: 0px;
    margin-top: 30px;
}

.f-descr {
    
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);

    margin-top: 0px;
    margin-bottom: 0px;
}

/*Стилі Чим им займаємося*/

.occup-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 27px 107px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    height: 70px;
    
    
    
}

.occup-overlay-wrapper{
    position: relative;
}

.occupation-container{padding-left: 215px;
                      padding-right: 215px;
                      }

.occupation {
    padding-bottom: 94px;
    

}

.occup-title {
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--title-color);

    margin-top: 0px;
    margin-bottom: 50px;

}

.occupation-list {
    list-style-type: none;
    gap: 30px;
    display: flex;
    align-items: center;
}





/*Стилі Наша команда*/

.social-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--social);
    border-radius: 50%;
}

.social-list-link:hover{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--button-color-2);
    fill: var(--main-color);
    transition: var(--timing);
}

.social-list-link:focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--button-color-2);
    fill: var(--main-color);
    transition: var(--timing);
}

.social-list-link:hover,.social-list-link:focus .social-list-icon{
    fill: #FFFFFF;
    transition: var(--timing);
}

.social-list-icon{
    
    width: 20px;
    height: 20px;
    justify-content: center;
    
}

.team {
    
    
    background: var(--background-color-white);

    padding-top: 94px;
    padding-bottom: 94px;
}

.team-container {padding-left: 215px;
                padding-right: 215px;
                }

.our-team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--title-color);

    margin-bottom: 50px;
    margin-top: 0px;


}

.team-list {
    list-style-type: none;

    display: flex;
    align-items: center;
}

.member-text {
    padding: 30px;
}

.member1 {
    width: 270px;    
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    
    margin-right: 30px;
    
}

.member2 {
    width: 270px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
    
}

.member3 {
    width: 270px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
    
}

.member4 {
    width: 270px;
    background: var(--logo-color-2-footer);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    
    
}




 .member-name{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--title-color);

    margin-bottom: 10px;
    margin-top: 0px;

 }

 .member-descr{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: var(--text-color);

    margin: 0px;
    margin-bottom: 16px;

 }

 /*Стилі постійні клієнти*/

 .clients-section{
    padding-top: 94px;
    padding-bottom: 94px;
 }

 .clients-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);  
    margin-top: 0px;  
    margin-bottom: 50px;
 }

 .clients-list{
    list-style-type: none;
    display: flex;
    gap: 30px;
 }

 .clients-item{
    width: 170px;
    height: 92px;
 }

 .clients-link{
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
 }

 .clients-link:hover,.clients-link:focus{
    fill: var(--logo-color-1);
    border-color: var(--logo-color-1);
    transition: var(--timing);
 }

 .clients-icon{
    width: 106px;
    height: 60px;
 }



 /*Стилі Підвал*/

 .basement {
    
    background-color: var(--secondary-main-color);

    display: flex;
    flex-direction:column;

    padding-top: 60px;
    padding-bottom: 60px;

    
 }

 .footer-container{
    padding-left: 215px;
    
 }

 .logo-footer {
    
    
    display: inline-block;
    margin-bottom: 20px;
    
 }

 .logof-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    

 }

 .logof-el-2 {
    color: var(--logo-color-2-footer);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    

 }

 

 .address-list {
    list-style-type: none;

 }

 .address {margin-bottom: 9px;}
 .email-footer{margin-bottom: 9px;}

 .address-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    
    color: var(--logo-color-2-footer);

    margin-bottom: 9px;
 }

 .address-contact-info {
    font-style: normal;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    
    color: rgba(255, 255, 255, 0.6);
    

    
 }

 .address-info:hover {
    cursor: pointer;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color:var(--logo-color-1) ;
        transition: var(--timing);

 }

 .address-contact-info:hover {
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: var(--logo-color-1);
        transition: var(--timing);

 }

 .address-contact-info:focus {

    font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     color: var(--logo-color-1);
    transition: var(--timing);
 }

 .footer-social-links{
    width: 206px;
    
    
    margin-left: 70px;
    
 }

 .fsl-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 20px;
 }

 .social-list-footer {
     list-style-type: none;
     display: flex;
     justify-content: center;
     column-gap: 10px;
 }

 .social-list-icon-footer {
     fill: #FFFFFF;
     width: 20px;
     height: 20px;
     justify-content: center;
 }

 .social-list-link-footer {
     width: 44px;
     height: 44px;
     display: flex;
     align-items: center;
     justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
 }

.social-list-link-footer:hover,.social-list-link-footer:focus{
    background-color: var(--logo-color-1);
    transition: var(--timing);
}

.footer-box{
    display: flex;
    align-items: baseline;
    
    
}

/* Стилі Бекдроп */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 500ms ease,opacity 500ms ease;

}

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    
}

/* Стилі Вікна Форми */

.modal{
    width: 528px;
    height: 521px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px 40px 40px;
}

.close-button-icon{
    width: 18px;
    height: 18px;
}

.close-button{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
}

/* Стилі Форми */

.modal-form-title{
    font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--title-color);
        margin-bottom: 12px;
    
}

.modal-form{
    display: flex;
    flex-direction: column;

}

.modal-form-field{
    margin-bottom: 28px;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
}

.label-title{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
}

.modal-form-message{
    width: 100%;
}

.form-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.modal-form-input-wrapper{
    position: relative;
}





