:root {

    --main-color: #FFFFFF;
    --secondary-main-color: #2F303A;
    --logo-color-1: #2196F3;
    --logo-color-2: #000000;
    --logo-color-2-footer: #FFFFFF;
    --title-color:#212121;
    --text-color: #757575;
    --button-color-2:#188CE8;
    --background-color-white:#F5F4FA;
    --border:#ECECEC;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.img {
    display: block;
        max-width: 100%;
        height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    letter-spacing: 0.03;
    width: 1600px;

    
}


/*Стилі верхня лінія*/

.top-line{
    width: 1600px;
    border-bottom:var(--border) ;
    

    display: flex;
    
    
}




a {
    text-decoration: none;
    
}

.logo-top-line {
    padding-left: 215px;
    padding-right: 95px;
    padding-top: 24px;
    padding-bottom: 25px;
    
    
}

.logo-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    margin-top: 32px;
    padding-bottom: 32px;
    
    
}

.studio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-right: 50px;
}

.studio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.studio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
}

.portfolio-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-right: 50px;
}

.portfolio-link:focus {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
}

.portfolio-link:hover {
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

 
}

.contacts-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.contacts-link:focus {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
}

.contacts-link:hover {
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.studio-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    background-color: var(--logo-color-1);

}

.portfolio-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    background-color: var(--logo-color-1);
}

.contacts-link:current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    background-color: var(--logo-color-1);
}

.contact-info {
    list-style: none;
    display: flex;
    margin-left: 215px;
    margin-top: 32px;
    margin-bottom: 32px;
    
    

    
    

}

.email {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-right: 50px;
}

.email:focus {
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);

}

.email:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color:var(--logo-color-1);
}

.phone {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.phone:focus{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        color: var(--logo-color-1);
}

.phone:hover {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

/*Стилі Шапка*/

.quote-section {
    background-color: var(--secondary-main-color);
    width: 1600px;
    height: 600px;

    display: flex;
    flex-direction:column ;
    align-items: center;

    

    

}

.quote {
    width: 696px;
    height: 120px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1,4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);

    padding-left: 452px;
    padding-right: 452px;
    padding-top: 200px;
}

.order-button {
    font-family: inherit;
    width: 216px;
    height: 50px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;

    margin-left: 692px;
    margin-right:692px ;
    
    margin-top: 30px;
    margin-bottom: 200px;

    
}

.order-button:hover {
    font-family:inherit;
    cursor: pointer;
    width: 216px;
    height: 50px;
    background-color: var(--button-color-2);
    border-radius: 4px;
    border: none;
    text-align: center;

    

}

.order-button:focus {
    font-family: inherit;
    width: 21.1;
        height: 50px;
        background-color: var(--button-color-2);
        border-radius: 4px;
        border: none;
        text-align: center;

}

.make-an-order {
    font-family: inherit;
    
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;        
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

/*Особливості*/

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    list-style-type: none;
    display: flex;
   
}

.feature1 {
    width: 270px;
    height: 98px;

    
    padding-bottom: 118px;
    margin-left: 215px;
    padding-top: 94px;
}

.feature2 {
    width: 270px;
    height: 98px;

    margin-left: 30px;
    padding-top: 94px;
    padding-bottom: 118px;
}

.feature3 {
    width: 270px;
    height: 98px;

    margin-left: 30px;
    padding-top: 94px;
    padding-bottom: 118px;
}

.feature4 {
    width: 270px;
    height: 98px;

    padding-bottom: 118px;
    padding-top: 94px;
    margin-left: 30px;
    margin-right: 215px;
}


.f-name {
    
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    text-transform: uppercase;
    color: var(--title-color);
}

.f-descr {
    
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
}

/*Стилі Чим им займаємося*/

.occupation {
    width: 1170px;
    
    

    
    

}

.occup-title {
    width: 366px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--title-color);

    padding: 94px 617px 50px 617px;

}

.occupation-list {
    list-style-type: none;

    display: flex;
    align-items: center;
}

.occup1 {
    padding-left: 215px;
    padding-right: 30px;
    padding-bottom: 94px;
}

.occup2 {
    padding-right: 30px;
    padding-bottom: 94px;

}

.occup3 {
    
    padding-right: 215px;
    padding-bottom: 94px;
}

/*Стилі Наша команда*/

.team {
    width: 1600px;
    height: 648;
    
    background: var(--background-color-white);
}

.our-team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--title-color);

    padding-bottom: 50px;
    padding-top: 94px;


}

.team-list {
    list-style-type: none;

    display: flex;
    align-items: center;
}

.member-text {
    padding-left: 83px;
    padding-right: 83px;
    padding-top: 30px;
}

.member1 {
    width: 270px;    
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-left: 215px;
    margin-right: 30px;
    padding-bottom: 90px;
}

.member2 {
    width: 270px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
    padding-bottom: 90px;
}

.member3 {
    width: 270px;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
    padding-bottom: 90px;
}

.member4 {
    width: 270px;
    background: var(--logo-color-2-footer);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-left: 30px;
    margin-right: 215px;
    padding-bottom: 90px;
}




 .member-name{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--title-color);

 }

 .member-descr{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: var(--text-color);

 }

 /*Стилі Підвал*/

 .basement {
    width: 1600px;
    height: 252px;
    background-color: var(--secondary-main-color);

    display: flex;
    flex-direction:column;

    
 }

 .logo-footer {
    margin-left: 215px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 1240px;
 }

 .logof-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    

 }

 .logof-el-2 {
    color: var(--logo-color-2-footer);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    

 }

 

 .address-list {
    list-style-type: none;

    
    margin-bottom: 60px;
    padding-right: 1154px;

    
 }

 .address-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    
    color: var(--logo-color-2-footer);

    margin-left: 215px;
 }

 .address-contact-info {
    font-style: normal;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    
    color: rgba(255, 255, 255, 0.6);

    margin-left: 215px;
 }

 .address-info:hover {
    cursor: pointer;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color:var(--logo-color-1) ;

 }

 .address-contact-info:hover {
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: var(--logo-color-1);

 }

 .address-contact-info:focus {

    font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     color: var(--logo-color-1)
 }




