.basement {

    background-color: var(--secondary-main-color);

    display: flex;
    flex-direction: column;

    padding-top: 60px;
    padding-bottom: 60px;


}

.footer-container {
    padding-left: 215px;

}

.logo-footer {


    display: inline-block;
    margin-bottom: 20px;

}

.logof-el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;


}

.logof-el-2 {
    color: var(--logo-color-2-footer);
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;


}



.address-list {
    list-style-type: none;

}

.address {
    margin-bottom: 9px;
}

.email-footer {
    margin-bottom: 9px;
}

.address-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    color: var(--logo-color-2-footer);

    margin-bottom: 9px;
    transition: color var(--timing);
}

.address-contact-info {
    font-style: normal;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    color: rgba(255, 255, 255, 0.6);
    transition: color var(--timing);



}

.address-info:hover {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--logo-color-1);


}

.address-contact-info:hover {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--logo-color-1);


}

.address-contact-info:focus {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--logo-color-1);

}

.footer-social-links {
    width: 206px;


    margin-left: 70px;

}

.fsl-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 20px;
}

.social-list-footer {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-icon-footer {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
    justify-content: center;
}

.social-list-link-footer {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--timing);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--logo-color-1);

}

.footer-box {
    display: flex;
    align-items: baseline;


}