ul {
    padding: 0px;
    margin: 0px;
}

.container-header {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.top-line {
    border-bottom: 1px solid var(--border-header);
}


a {
    text-decoration: none;

}

.logo-top-line {

    margin-right: 95px;
    padding-top: 24px;
    padding-bottom: 25px;


}

.logo-top-line__el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-top-line__el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    display: flex;




}

.studio-item {
    margin-right: 50px;
    display: inline-block;
}


.studio-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
}

.studio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    transition: var(--timing);

}

.studio-link:hover {
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    transition: var(--timing);
}

.portfolio-item {
    margin-right: 50px;
    display: inline-block;
}

.portfolio-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: var(--title-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    transition: color var(--timing);
}

.portfolio-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.portfolio-link:hover {
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);



}

.contacts-item {
    display: inline-block;
}

.contacts-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    transition: color var(--timing);

}





.contacts-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.contacts-link:hover {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);


}

.studio-link,
.studio-link_current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);

}

.studio-link_current::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--logo-color-1);
    position: absolute;
    opacity: 1;
    border-radius: 2px;
    margin-top: 28px;
    top: 76;
    left: 451;

}





.contact-info {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 50px;


}



.email {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    fill: var(--text-color);
    transition: color var(--timing), fill var(--timing);


}

.icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;

}

.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

.email:hover,
.email:focus .icon-envelope {
    fill: var(--logo-color-1);

}

.phone:hover,
.phone:focus .icon-phone {
    fill: var(--logo-color-1);
    transition: var(--timing);
}




.email:focus {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    fill: var(--logo-color-1);


}

.email:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    fill: var(--logo-color-1);


}




.phone {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    fill: var(--text-color);
    transition: color var(--timing), fill var(--timing);
}

.phone:focus {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    fill: var(--logo-color-1);

}

.phone:hover {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--logo-color-1);
    fill: var(--logo-color-1);


}

