.logo-top-line__el-1 {
    color: var(--logo-color-1);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-top-line__el-2 {
    color: var(--logo-color-2);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}