.occup-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 27px 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;



}

.occup-overlay-wrapper {
    position: relative;
}

.occupation-container {
    padding-left: 215px;
    padding-right: 215px;
}

.occupation {
    padding-bottom: 94px;


}

.occup-title {


    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--title-color);

    margin-top: 0px;
    margin-bottom: 50px;

}

.occupation-list {
    list-style-type: none;
    gap: 30px;
    display: flex;
    align-items: center;
}