
.quote-section {
    background-color: var(--secondary-main-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-mob-1x.jpg);
    

   
    align-items: center;

    padding-top: 118px;
    padding-bottom: 118px;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    background-size: cover;
}

.quote {
    width: 360px;
    height: 84px;
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
    
}

.order-button {
    font-family: inherit;
    width: 216px;
    height: 50px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color var(--timing);

    &:hover,
    &:focus {
        font-family: inherit;
        cursor: pointer;
        width: 216px;
        height: 50px;
        background-color: var(--button-color-2);
        border-radius: 4px;
        border: none;
        text-align: center;
    }


}



.make-an-order {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);

}


@media screen and (min-width: 768px){
    .quote-section {
        background-color: var(--secondary-main-color);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg-tab-1x.jpg);
    }
}

@media screen and (min-width: 1200px){
    .quote-section {
        background-color: var(--secondary-main-color);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/bg.jpg);
        display: block;
        direction:column ;
        height: 600px;
        padding-top: 170px;
        
        
    }

    .quote{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            width: 696px;
            margin-bottom: 60px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
    }

    
}





/*Стилі Шапка*/

/*.quote-section {
    background-color: var(--secondary-main-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);


    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    max-width: 1600px;
    margin: auto;
    background-size: cover;
}

.quote {
    width: 696px;
    height: 120px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;

    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.order-button {
    font-family: inherit;
    width: 216px;
    height: 50px;
    background-color: var(--logo-color-1);
    border-radius: 4px;
    border: none;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color var(--timing);

    &:hover,&:focus{
    font-family: inherit;
        cursor: pointer;
        width: 216px;
        height: 50px;
        background-color: var(--button-color-2);
        border-radius: 4px;
        border: none;
        text-align: center;
    }


}



.make-an-order {
    font-family: inherit;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);

}*/


