.samples-list {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.sample {
    flex-basis: calc((1170px-60px) / 3);
    border: 1em;
}

.sample-text {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.sample-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-top: 0px;
    margin-bottom: 4px;
}

.sample-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0px;
}

