:root {

    --main-color: #FFFFFF;
    --secondary-main-color: #2F303A;
    --logo-color-1: #2196F3;
    --logo-color-2: #000000;
    --logo-color-2-footer: #FFFFFF;
    --title-color: #212121;
    --text-color: #757575;
    --button-color-2: #188CE8;
    --background-color-white: #F5F4FA;
    --border: #ECECEC;
    --social: #AFB1B8;
    --timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --border-header: #eeeeee;
}
